<a href="https://colab.research.google.com/github/PruthaKulkarni10/compute_tasks/blob/week2/Copy_of_Task_2_Numpy.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#### Import NumPy

In [3]:
import numpy as np

#### Create an array of 10 zeros

In [6]:
a = np.zeros(10)
print(a)

[0. 0. 0. 0. 0. 0. 0. 0. 0. 0.]

#### Create an array of 10 ones

In [7]:
b = np.ones(10)
print(b)

[1. 1. 1. 1. 1. 1. 1. 1. 1. 1.]

#### Create an array of 10 fives

In [9]:
c = np.array([5.,5.,5.,5.,5.,5.,5.,5.,5.,5.])
print(c)

[5. 5. 5. 5. 5. 5. 5. 5. 5. 5.]

#### Create an array of the integers from 10 to 50 -!del!-

In [10]:
np.arange(10,51)

array([10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26,
       27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43,
       44, 45, 46, 47, 48, 49, 50])

#### Create an array of all the even integers from 10 to 50  -!del!-

In [11]:
np.arange(10,51,2)

array([10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42,
       44, 46, 48, 50])

#### Create a 3x3 matrix with values ranging from 0 to 8

In [19]:
matrix = np.array([[0,1,2],
                   [3,4,5],
                   [6,7,8]])

print(matrix)

[[0 1 2]
 [3 4 5]
 [6 7 8]]

#### Create a 3x3 identity matrix

In [21]:
x = np.array([[1., 0., 0.],
             [0., 1., 1.],
             [0., 0., 1.]])

x

array([[1., 0., 0.],
       [0., 1., 1.],
       [0., 0., 1.]])

Use NumPy to generate a random number between 0 and 1  -!del!-

In [22]:
p = np.random.rand()
p

0.1582201463468379

#### Use NumPy to generate an array of 25 random numbers sampled from a standard normal distribution

In [23]:
y = np.random.randn(25)
y

array([-0.05738482, -1.74828996, -0.29456599,  1.38145531, -0.57843619,
       -0.65655101, -0.61139443, -1.14642521,  1.13395523,  1.16533484,
       -1.59847732, -0.93962336,  0.07943926, -1.09883498,  0.72989511,
       -1.46776417,  0.36992334, -0.27912807, -0.56404944,  0.67911431,
        1.08961694,  0.30369261, -0.67426045,  1.40785735,  1.2955837 ])

#### Create the following matrix: -!del!-

In [29]:
c = np.arange(0.01,1.01,0.01).reshape(10,10)
c

array([[0.01, 0.02, 0.03, 0.04, 0.05, 0.06, 0.07, 0.08, 0.09, 0.1 ],
       [0.11, 0.12, 0.13, 0.14, 0.15, 0.16, 0.17, 0.18, 0.19, 0.2 ],
       [0.21, 0.22, 0.23, 0.24, 0.25, 0.26, 0.27, 0.28, 0.29, 0.3 ],
       [0.31, 0.32, 0.33, 0.34, 0.35, 0.36, 0.37, 0.38, 0.39, 0.4 ],
       [0.41, 0.42, 0.43, 0.44, 0.45, 0.46, 0.47, 0.48, 0.49, 0.5 ],
       [0.51, 0.52, 0.53, 0.54, 0.55, 0.56, 0.57, 0.58, 0.59, 0.6 ],
       [0.61, 0.62, 0.63, 0.64, 0.65, 0.66, 0.67, 0.68, 0.69, 0.7 ],
       [0.71, 0.72, 0.73, 0.74, 0.75, 0.76, 0.77, 0.78, 0.79, 0.8 ],
       [0.81, 0.82, 0.83, 0.84, 0.85, 0.86, 0.87, 0.88, 0.89, 0.9 ],
       [0.91, 0.92, 0.93, 0.94, 0.95, 0.96, 0.97, 0.98, 0.99, 1.  ]])

#### Create an array of 20 linearly spaced points between 0 and 1:

In [31]:
s = np.linspace(0,1,20)
s

array([0.        , 0.05263158, 0.10526316, 0.15789474, 0.21052632,
       0.26315789, 0.31578947, 0.36842105, 0.42105263, 0.47368421,
       0.52631579, 0.57894737, 0.63157895, 0.68421053, 0.73684211,
       0.78947368, 0.84210526, 0.89473684, 0.94736842, 1.        ])

## Numpy Indexing and Selection

Now you will be given a few matrices, and be asked to replicate the resulting matrix outputs:

In [4]:
mat = np.arange(1,26).reshape(5,5)
mat

array([[ 1,  2,  3,  4,  5],
       [ 6,  7,  8,  9, 10],
       [11, 12, 13, 14, 15],
       [16, 17, 18, 19, 20],
       [21, 22, 23, 24, 25]])

In [ ]:
# WRITE CODE HERE THAT REPRODUCES THE OUTPUT OF THE CELL BELOW
# BE CAREFUL NOT TO RUN THE CELL BELOW, OTHERWISE YOU WON'T
# BE ABLE TO SEE THE OUTPUT ANY MORE

In [42]:
print(mat[2:5 , 1:5])

[[12 13 14 15]
 [17 18 19 20]
 [22 23 24 25]]

In [ ]:
# WRITE CODE HERE THAT REPRODUCES THE OUTPUT OF THE CELL BELOW
# BE CAREFUL NOT TO RUN THE CELL BELOW, OTHERWISE YOU WON'T
# BE ABLE TO SEE THE OUTPUT ANY MORE

In [47]:
print(mat[3,4])

20

In [ ]:
# WRITE CODE HERE THAT REPRODUCES THE OUTPUT OF THE CELL BELOW
# BE CAREFUL NOT TO RUN THE CELL BELOW, OTHERWISE YOU WON'T
# BE ABLE TO SEE THE OUTPUT ANY MORE

In [49]:
print(mat[0:3 , 1])

[ 2  7 12]

In [ ]:
# WRITE CODE HERE THAT REPRODUCES THE OUTPUT OF THE CELL BELOW
# BE CAREFUL NOT TO RUN THE CELL BELOW, OTHERWISE YOU WON'T
# BE ABLE TO SEE THE OUTPUT ANY MORE

In [7]:
print(mat[4:])

[[21 22 23 24 25]]

In [ ]:
# WRITE CODE HERE THAT REPRODUCES THE OUTPUT OF THE CELL BELOW
# BE CAREFUL NOT TO RUN THE CELL BELOW, OTHERWISE YOU WON'T
# BE ABLE TO SEE THE OUTPUT ANY MORE

In [8]:
print(mat[3:5, 0:5])

[[16 17 18 19 20]
 [21 22 23 24 25]]

### Now do the following

#### Get the sum of all the values in mat

In [9]:
print(np.sum(mat))

325

#### Get the standard deviation of the values in mat

In [10]:
print(np.std(mat))

7.211102550927978

#### Get the sum of all the columns in mat

In [12]:
print(np.sum(mat, axis=0))

[55 60 65 70 75]

#### Multiply two matrices using NumPy.

A = [[1, 2], [2, 3]]

B = [[4, 5], [6, 7]]

So, A.B = [[1*4 + 2*6, 2*4 + 3*6], [1*5 + 2*7, 2*5 + 3*7]

The computed answer will be: [[16, 26], [19, 31]]

In [13]:
A = [[1,2],[2,4]]
B = [[4,5],[6,7]]

print(np.dot(A,B))

[[16 19]
 [32 38]]

####Replace NaN values with average of that column

Initial array :  

[[ 1.3  2.5  3.6  nan]
 [ 2.6  3.3  nan  5.5]
 [ 2.1  3.2  5.4  6.5]]

In [21]:
C = np.array([[1.3, 2.5, 3.6, np.nan],
              [2.6, 3.3, np.nan, 5.5]])

# Calculate the mean of each column while ignoring NaN values
column_means = np.nanmean(C, axis=0)

# Find the indices of NaN values in the array
nan_indices = np.isnan(C)

# Replace NaN values with the respective column means
C = np.where(nan_indices, column_means, C)

print(C)

[[1.3 2.5 3.6 5.5]
 [2.6 3.3 3.6 5.5]]

# You're done!